
:root {
    --bg-color: #0c0729;
    --second-bg-color: #0c0729;
    --text-color: white;
    --second-color: #ccc;
    --main-color: #00FFFF;
    --big-font: 5rem;
    --p-font: 1.1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; 
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden; 
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 2rem 7%;
    background-color: #0c0729;
    display: flex;
    align-items: center;
    transition: all .5s ease;
    z-index: 500;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    margin-right: auto;
    letter-spacing: 1px;
}

span {
    color: #00FFFF;
}

.navbar {
    display: flex;
}

.navbar a {
    position: relative;
    font-size: 17px;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
    transition: all .5s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    display: none;
    cursor: pointer;
    z-index: 5000;
    margin-left: 25px;
}

section {
    padding: calc(100px + 80px) 5% 80px; 
}

.home {
    position: relative;
    min-height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.home-text {
    text-align: center;
    margin-bottom: 40px; 
}

.home-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.home-text h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.home-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.home-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.animated-text {
    position: relative;
    height: 70px;
    overflow: hidden;
    margin-bottom: 20px;
}

.animated-text h3 {
    color: #00FFFF;
    
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
    white-space: nowrap; 
}

.animated-text h3:nth-child(1) {
    animation: text-move 6s infinite ease-out;
}

@keyframes text-move {
    0%, 15% {
        margin-top: 0px;
    }
    25%, 40% {
        margin-top: -70px;
    }
    50%, 65% {
        margin-top: -140px;
    }
    75%, 95% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0px;
    }
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.2rem;
    color: var(--main-color);
    margin: 0 1rem;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.home-img {
    width: 250px; 
    height: 250px; 
    margin-top: 20px;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
@media (min-width: 991px) {
    .home {
        flex-direction: row;
        align-items: center;
    }

    .home-text {
        text-align: left;
        margin-bottom: 0;
        width: 50%;
        padding-left: 50px;
    }

    .home-img {
        width: 350px;
        height: 350px;
        margin-top: 0;
        margin-left: 50px;
    }
}
.navbar.active { 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #0c0729;/
    text-align: center; 
}

.navbar.active a {
    margin: 1rem 0; 
    display: block; 
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6rem;
}
.heading{
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;
}
.about-content h1{
    text-align: left;
    line-height: 1.2;
    font-size: 4rem;

}
.about-content p{
    padding-top: 20px;
}
.heading {
font-size: 70px;
text-align: center;
    
    }
    
#course {
    
 display: grid;
    
grid-template-columns: repeat(2, 1fr);
    
align-items: center;
    
gap: 1.5rem;
 padding: 20px;
border-style: solid;
    
 border-radius: 70px;
    
    }
    
.course h2 {
    
font-size:  4.5rem;
text-align: center;
    
line-height: 1.2;
    
padding: 40px;
    
 }
 .course-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 1.5rem;
}
.course-images img{
    
padding: 50px;
    
max-width: 400px;
    
 height: 300px;
    
width:100%;
 border-radius: 70px;
    
}
    
.nptel a, .udemy-1 a, .udemy-2 a, .udemy-3 a, .hackathon a{
    text-align: center;
    padding: 10px;
    font-size: 40px;
    line-height: 1.2;
}

@media (max-width: 600px) {
    .heading {
        font-size: 1rem;
        align-items: center;
        justify-content: center;
    }
    .nptel a, .udemy-1 a, .udemy-2 a, .udemy-3 a, .hackathon a {
        font-size: 0.9rem;
        align-items: center;
        justify-content: center;
    }
    .course-images img{
        display: none;
    };
}
.project {
    padding-bottom: 10rem;
}

.project {
    padding-bottom: 10rem;
}

.project h2 {
    margin-bottom: 4rem;
    text-align: center; 
}

.project .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2.5rem;
    justify-content: center; 
}



.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
}

.project-box img {
    width: 100%;
    height: 100%; 
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem; 
    opacity: 0;
    transition: .5s ease;
}

.project-box:hover .project-layer {
    opacity: 1;
}

.project-layer h4 {
    font-size: 2rem;
    margin-bottom: 0.5rem; 
}

.project-layer p {
    font-size: 1.4rem; 
    margin: 0.5rem 0 1rem;
}

.project-layer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--white-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 1.6rem; 
    color: #333;
}
@media (max-width: 600px) {
    .project-box img{
        display: block;
    }
}


#education {
    background: var(--second-bg-color); 
}

.education-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.education-content h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    line-height: 1.2;
}

.education-timeline {
    display: flex;
    flex-direction: column; 
}

.education-entry   {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 5px solid var(--second-color); 
    border-radius: 50px;
    position: relative; 
}
.education-entry:hover{
    border-color: var(--main-color);

}

.entry-year {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.entry-details h3 {
    margin-bottom: 0.5rem;
}

.education-entry::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1; 
}

.education-entry:last-child::before { 
    height: 0;
}


@media (max-width: 768px) {
    .navbar {
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(12, 7, 41, 0.9); 
        flex-direction: column;
        text-align: center;
    }

    

    .navbar a {
        margin: 1rem 0; 
        display: block; 
    }

    #menu-icon {
        display: block; 
    }

    section {
        padding: calc(160px + 70px) 5% 120px; 
    }
    .education-content{
        padding: 1rem;
    }
    .education-content h2{
        font-size: 2rem;
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: hwb(187 4% 55%);
}

.footer-text h5{
    font-size: 2rem;
    color: var(--white-color);
}

.footer-text p{
    font-size: 1.2rem;
    color: var(--white-color);
}
.footer-social h5{
    font-size: 1.8rem;
    color: var(--white-color);
}
.footer-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-social a i{
    font-size: 2.4rem;
    color: #333;
}

.footer-social a:hover{
    outline-color: var(--white-color);
}


.footer-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: transparent;
    border-radius: 0.8rem;
    border: 0.2rem solid var(--main-color);
    outline: 0.2rem solid transparent;
    transition: 0.5s ease;
}

.footer-social a i {
    font-size: 2rem;
    color: var(--main-color);
}

.footer-social a:hover {
    background-color: white;
    color:white
}
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;

    }

    .footer-text {
        max-width: 90%; 
        margin-bottom: 1rem;
    }

    .footer-social {
        margin-top: 1rem;
        justify-content: center;
        align-items: center; 
    }
}

    .home-text {
        max-width: 95%;
    }
    .home-text h1{
        font-size: 2rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
    .about-content p {
        font-size: 0.9rem;
    }
